USE [shopingCart]
GO
/****** Object:  UserDefinedTableType [dbo].[CategoryType]    Script Date: 6/30/2024 9:44:11 PM ******/
CREATE TYPE [dbo].[CategoryType] AS TABLE(
	[_CategoryName] [varchar](100) NULL,
	[_IsActive] [bit] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[ProductType]    Script Date: 6/30/2024 9:44:12 PM ******/
CREATE TYPE [dbo].[ProductType] AS TABLE(
	[_CategoryId] [int] NULL,
	[_ProductName] [varchar](100) NULL,
	[_ProductPrice] [decimal](18, 2) NULL,
	[_IsActive] [bit] NULL
)
GO
/****** Object:  StoredProcedure [dbo].[proc_AddCategory]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proc_AddCategory]
    @categoryName VARCHAR(100),
    @IsActive BIT
AS
BEGIN
    -- Check if the category name already exists
    IF EXISTS (SELECT 1 FROM Master_Category WHERE _CategoryName = @categoryName)
    BEGIN
        -- Return a message indicating the category already exists
        SELECT 'This category already exists in the table' AS Message;
    END
    ELSE
    BEGIN
        -- Insert the new category
        INSERT INTO Master_Category (_CategoryName, _IsActive, _EntryDate)
        VALUES (@categoryName, @IsActive, GETDATE());

        -- Return a success message
        SELECT 'Inserted successfully' AS Message;
    END
END

GO
/****** Object:  StoredProcedure [dbo].[proc_AddOrUpdateCategory]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[proc_AddOrUpdateCategory]
(
    @CategoryId INT = 0,
    @CategoryName VARCHAR(50),
    @IsActive BIT
)
AS
BEGIN
    DECLARE @statuscode INT,
            @message VARCHAR(100) = '';

    BEGIN TRY
        BEGIN TRANSACTION;

        IF (@CategoryId = 0)
        BEGIN
            IF EXISTS (SELECT 1 FROM Master_Category WITH (NOLOCK) WHERE _CategoryName = @CategoryName)
            BEGIN
                SET @statuscode = -1;
                SET @message = 'Category Already Exists!';
            END
            ELSE
            BEGIN
                INSERT INTO Master_Category (_CategoryName, _IsActive, _EntryDate)
                VALUES (@CategoryName, @IsActive, GETDATE());
                
                SET @statuscode = 1;
                SET @message = 'Category Added successfully!';
            END
        END
        ELSE
        BEGIN
            IF EXISTS (SELECT 1 FROM Master_Category WITH (NOLOCK) WHERE _CategoryName = @CategoryName AND _Id != @CategoryId)
            BEGIN
                SET @statuscode = -1;
                SET @message = 'Category Already Exists!';
            END
            ELSE
            BEGIN
                UPDATE Master_Category
                SET _CategoryName = @CategoryName,
                    _IsActive = @IsActive,
                    _EntryDate = GETDATE()
                WHERE _Id = @CategoryId;

                SET @statuscode = 1;
                SET @message = 'Category Updated Successfully!';
            END
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @statuscode = -99; -- Custom error code for unexpected errors
        SET @message = ERROR_MESSAGE();
    END CATCH;

  
    SELECT @statuscode AS [StatusCode], @message AS [Message];
END

GO
/****** Object:  StoredProcedure [dbo].[proc_AddOrUpdateProduct]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[proc_AddOrUpdateProduct]
(
    @ProductName VARCHAR(100)=null,
    @CategoryId INT=null,
    @IsActive BIT=null,
    @ProductPrice DECIMAL(18, 2)=null,
    @ProductDesc NVARCHAR(MAX)=null,
    @ProductImage VARCHAR(500)=null,
    @productId INT =null
)
AS
BEGIN
    DECLARE @statuscode INT,
            @message VARCHAR(100) = '';

    BEGIN TRY
        BEGIN TRANSACTION;

        IF (@productId = 0)
        BEGIN
            IF (@ProductImage IS NULL OR @ProductImage = '')
            BEGIN
                SET @statuscode = -1;
                SET @message = 'Product image is compulsory for adding new data!';
            END
            ELSE
            BEGIN
                IF EXISTS (SELECT 1 FROM tbl_Product WHERE _ProductName = @ProductName and _CategoryId=@CategoryId)
                BEGIN
                    SET @statuscode = -1;
                    SET @message = 'Product Already Exists!';
                END
                ELSE
                BEGIN
                    INSERT INTO tbl_Product (_ProductName, _ProductPrice, _ProductDesc, _CategoryId, _IsActive, _EntryDate, _ProductImage)
                    VALUES (@ProductName, @ProductPrice, @ProductDesc, @CategoryId, @IsActive, GETDATE(), @ProductImage);
                    
                    SET @statuscode = 1;
                    SET @message = 'Product Added successfully!';
                END
            END
        END
        ELSE IF (@productId > 0) -- Check if productId is greater than 0
        BEGIN
            IF EXISTS (SELECT 1 FROM tbl_Product WHERE _ProductName = @ProductName AND _Id != @productId and _CategoryId=@CategoryId)
            BEGIN
                SET @statuscode = -1;
                SET @message = 'Product Already Exists!';
            END
            ELSE
            BEGIN
                IF (@ProductImage IS NULL OR @ProductImage = '')
                BEGIN
                    -- If no image provided during update, keep the existing image
                    UPDATE tbl_Product
                    SET _ProductName = @ProductName,
                        _ProductPrice = @ProductPrice,
                        _ProductDesc = @ProductDesc,
                        _CategoryId = @CategoryId,
                        _IsActive = @IsActive
                    WHERE _Id = @productId;
                END
                ELSE
                BEGIN
                    -- Update with new image
                    UPDATE tbl_Product
                    SET _ProductName = @ProductName,
                        _ProductPrice = @ProductPrice,
                        _ProductDesc = @ProductDesc,
                        _CategoryId = @CategoryId,
                        _IsActive = @IsActive,
                        _ProductImage = @ProductImage
                    WHERE _Id = @productId;
                END

                SET @statuscode = 1;
                SET @message = 'Product Updated Successfully!';
            END
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @statuscode = -99; -- Custom error code for unexpected errors
        SET @message = ERROR_MESSAGE();
    END CATCH;

  SELECT @statuscode AS [StatusCode], @message AS [Message];
END

GO
/****** Object:  StoredProcedure [dbo].[proc_AddOrUpdateUser]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proc_AddOrUpdateUser]
@Name varchar(50)=null,
@Email varchar(100),
@Phone bigint=null,
@IsActive bit=null,
@Address varchar(100)=null,
@Password varchar(20)=null
as
begin
 DECLARE @statuscode INT,
            @message VARCHAR(100) = '';

    BEGIN TRY
        BEGIN TRANSACTION;

            IF EXISTS (SELECT 1 FROM tbl_User WHERE _Email = @Email)
            BEGIN
                SET @statuscode = -1;
                SET @message = 'This Email Already Exists';
            END
             ELSE
             BEGIN
                INSERT INTO tbl_User(_Name,_Email,_Phone, _IsActive,_Address,_Password, _EntryDate)
                VALUES (@Name,@Email,@Phone, @IsActive,@Address,@Password, GETDATE());
                
                SET @statuscode = 1;
                SET @message = 'Registration successfully!';
              END
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @statuscode = -99; -- Custom error code for unexpected errors
        SET @message = ERROR_MESSAGE();
    END CATCH;

    SELECT @statuscode AS [StatusCode], @message AS [Message];
end
GO
/****** Object:  StoredProcedure [dbo].[Proc_AddOrUpdateVendor]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Proc_AddOrUpdateVendor]
(
    @VendorId INT = 0,
    @VendorName VARCHAR(50),
    @VendorAddress VARCHAR(MAX),
    @VendorEmail VARCHAR(100),
    @IsActive BIT
)
AS
BEGIN
    DECLARE @StatusCode INT,
            @Message VARCHAR(100) = '';

    BEGIN TRY
        BEGIN TRANSACTION;

        IF (@VendorId = 0)
        BEGIN
            IF EXISTS (SELECT 1 FROM Master_Vendor WITH (NOLOCK) WHERE _VendorEmail = @VendorEmail AND _VendorAddress = @VendorAddress)
            BEGIN
                SET @StatusCode = -1;
                SET @Message = 'Vendor with this Email and Address already exists!';
            END
            ELSE
            BEGIN
                INSERT INTO Master_Vendor (_VendorName, _VendorAddress, _VendorEmail, _IsActive, _EntryDate, _ModifyDate)
                VALUES (@VendorName, @VendorAddress, @VendorEmail, @IsActive, GETDATE(), GETDATE());
                
                SET @StatusCode = 1;
                SET @Message = 'Vendor Added successfully!';
            END
        END
        ELSE
        BEGIN
            IF EXISTS (SELECT 1 FROM Master_Vendor WITH (NOLOCK) WHERE _VendorEmail = @VendorEmail AND _VendorAddress = @VendorAddress AND _Id != @VendorId)
            BEGIN
                SET @StatusCode = -1;
                SET @Message = 'Another vendor with this Email and Address already exists!';
            END
            ELSE
            BEGIN
                UPDATE Master_Vendor
                SET _VendorName = @VendorName,
                    _VendorAddress = @VendorAddress,
                    _VendorEmail = @VendorEmail,
                    _IsActive = @IsActive,
                    _ModifyDate = GETDATE()
                WHERE _Id = @VendorId;

                SET @StatusCode = 1;
                SET @Message = 'Vendor Updated Successfully!';
            END
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @StatusCode = -99; -- Custom error code for unexpected errors
        SET @Message = ERROR_MESSAGE();
    END CATCH;

    SELECT @StatusCode AS [StatusCode], @Message AS [Message];
END;
GO
/****** Object:  StoredProcedure [dbo].[proc_AddProduct]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_AddProduct]
@ProductName varchar(100),
@ProductPrice bigint ,
@ProductDesc nvarchar(Max),
@ProductImage varchar(255),
@CategoryId  int,
@IsActive bit
as
begin
insert into tbl_Product(_ProductName,_ProductPrice,_ProductDesc,_CategoryId,_IsActive,_EntryDate,_ProductImage)
 values(@ProductName,@ProductPrice,@ProductDesc,@CategoryId,@IsActive,GETDATE(),@ProductImage)
end
GO
/****** Object:  StoredProcedure [dbo].[Proc_AddProductInCart]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Proc_AddProductInCart]
    @ProductAmount DECIMAL(18,2),
    @ProductId INT,
    @Email VARCHAR(100),
	@Quantity int 
AS
BEGIN
    DECLARE @UserId INT;

 set   @UserId =(select _Id from tbl_User where _Email=@Email) 
    INSERT INTO tbl_CartItems (_ProductAmount, _ProductId, _UserId, _Quantity)
    VALUES (@ProductAmount, @ProductId, @UserId, @Quantity);
ENd
select * from tbl_CartItems
 truncate  table tb
GO
/****** Object:  StoredProcedure [dbo].[proc_CategoryListForDropdown]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proc_CategoryListForDropdown]
as
begin
select _Id,_CategoryName from   Master_Category(NOLOCK) where _IsActive=1
end
GO
/****** Object:  StoredProcedure [dbo].[proc_CategoryListUseInProduct]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_CategoryListUseInProduct]
AS
BEGIN
    SELECT Distinct m._Id, m._CategoryName 
    FROM Master_Category AS m 
    INNER JOIN tbl_Product AS p ON p._CategoryId = m._Id
   
END

GO
/****** Object:  StoredProcedure [dbo].[Proc_ChangePassword]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Proc_ChangePassword] 
@password varchar(100),
@Email varchar(100)
as 
begin
update tbl_User set _Password=@password where _Email=@Email
select 'password updated successfully'

end
GO
/****** Object:  StoredProcedure [dbo].[proc_DeleteCategoryById]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proc_DeleteCategoryById]
@CategoryID int
as
begin
 IF EXISTS (SELECT * FROM tbl_Product WHERE _CategoryId = @CategoryID )
begin
Select  'This Category is Used in the product ';
end
IF Not EXISTS (SELECT 1 FROM tbl_Product WHERE _CategoryId = @CategoryID )
begin
delete from Master_Category where _Id=@CategoryID
end

end

GO
/****** Object:  StoredProcedure [dbo].[Proc_DeleteProduct]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Proc_DeleteProduct]
@ProductId int 
as
begin
delete from  tbl_Product where _Id=@ProductId
end 
GO
/****** Object:  StoredProcedure [dbo].[Proc_DeleteVendor]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Proc_DeleteVendor]
(
    @Id INT
)
AS
BEGIN
    DECLARE @StatusCode INT,
            @Message VARCHAR(100) = '';

    BEGIN TRY
        BEGIN TRANSACTION;

        DELETE FROM Master_Vendor
        WHERE _Id = @Id;

        SET @StatusCode = 1;
        SET @Message = 'Vendor Deleted Successfully!';

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @StatusCode = -99; -- Custom error code for unexpected errors
        SET @Message = ERROR_MESSAGE();
    END CATCH;

    SELECT @StatusCode AS [StatusCode], @Message AS [Message];
END;
GO
/****** Object:  StoredProcedure [dbo].[Proc_EmailVeryfy]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_EmailVeryfy]
@Email varchar(100)
as
begin
DECLARE @StatusCode int 
Declare @Massage varchar(100)
 IF EXISTS (SELECT 1 FROM tbl_User WITH (NOLOCK) WHERE _Email = @Email and _IsActive=1)
 begin
 SET @StatusCode=1;
 SET @Massage='this Email is Exit'
 end 
  IF NOT EXISTS (SELECT 1 FROM tbl_User WITH (NOLOCK) WHERE _Email = @Email and _IsActive=1)
 begin
 SET @StatusCode=-1;
 SET @Massage='Sorry Please Enter  correct Email '
 end 
   SELECT @statuscode AS [StatusCode], @Massage AS [Message];
end 

GO
/****** Object:  StoredProcedure [dbo].[Proc_GetProductList]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROC [dbo].[Proc_GetProductList]
AS
BEGIN 
    SELECT  
        prod._Id,
        prod._ProductName,
        prod._ProductPrice,
        prod._ProductDesc,
        prod._CategoryId,
        prod._IsActive,
        prod._EntryDate,
        prod._ProductImage,
        mc._CategoryName
    FROM  
        tbl_Product prod (nolock)
    INNER JOIN 
        Master_Category mc (nolock) ON prod._CategoryId = mc._Id
END
GO
/****** Object:  StoredProcedure [dbo].[proc_GetProductNameForDropdown]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[proc_GetProductNameForDropdown]
@CategoryId int
as
begin
select _ProductName,_Id,_CategoryId,_ProductPrice from tbl_Product where _CategoryId=@CategoryId and  _IsActive=1
end
GO
/****** Object:  StoredProcedure [dbo].[Proc_GetUserList]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[Proc_GetUserList]
as
begin 
select _Id,_IsActive,_Name,_Email,_EntryDate,_Address,_Password,_Phone from tbl_User  where _IsAdmin=0
end 
GO
/****** Object:  StoredProcedure [dbo].[Proc_GetVendor]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Proc_GetVendor]
(
    @_Id INT
)
AS
BEGIN
    SELECT _Id, _VendorName, _VendorAddress, _VendorEmail, _IsActive, _EntryDate, _ModifyDate
    FROM Master_Vendor
    WHERE _Id = @_Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[Proc_GetVendorList]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Proc_GetVendorList]
as
begin
select _Id ,_VendorName,_VendorAddress,_VendorEmail,_IsActive,_EntryDate,_ModifyDate from Master_Vendor

end 
GO
/****** Object:  StoredProcedure [dbo].[Proc_GetVendorListbyId]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Proc_GetVendorListbyId]
@Id int
as
begin
select _Id ,_VendorName,_VendorAddress,_VendorEmail,_IsActive from Master_Vendor where _Id =@ID

end 

GO
/****** Object:  StoredProcedure [dbo].[proc_InsertCartItemsIntoOrders]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    
    CREATE PROCEDURE [dbo].[proc_InsertCartItemsIntoOrders]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @statuscode INT,
            @message VARCHAR(100) = '';

    BEGIN TRY
        -- Start a transaction
        BEGIN TRANSACTION;

        -- Temporary table to hold cart items data
        DECLARE @CartItems TABLE (
            _Id int,
            _ProductId int,
            _Quantity int,
            _ProductAmount decimal(18,2),
            _UserId int
        );

        -- Insert data from tbl_CartItems into the temporary table
        INSERT INTO @CartItems (_Id, _ProductId, _Quantity, _ProductAmount, _UserId)
        SELECT _Id, _ProductId, _Quantity, _ProductAmount, _UserId
        FROM [ShopingCart].[dbo].[tbl_CartItems];

        -- Variables to hold OrderId and TotalAmount
        DECLARE @OrderId int;
        DECLARE @TotalAmount decimal(18,2);
        DECLARE @UserId int;

            -- Get the first UserId available in the cart (assuming all items have the same UserId)
            SELECT TOP 1 @UserId = _UserId
            FROM @CartItems;

            -- Start a new order
            INSERT INTO tbl_OrderMaster (_UserId, _TotalAmount, _EntryDate)
            VALUES (@UserId, 0.0, GETDATE()); -- Assuming default total amount is 0

            -- Get the OrderId of the newly inserted order
            SET @OrderId = SCOPE_IDENTITY();

            -- Calculate total amount for the order
            SELECT @TotalAmount =SUM( _Quantity * _ProductAmount)
            FROM @CartItems
            WHERE _UserId = @UserId;

            -- Update the total amount in tbl_OrderMaster
            UPDATE tbl_OrderMaster
            SET _TotalAmount = @TotalAmount
            WHERE _OrderId = @OrderId;

            -- Insert items into tbl_OrderItemMaster for the current order
            INSERT INTO tbl_OrderItemMaster (_OrderId, _ProductName, _ProductPrice, _EntryDate,_Quantity)
            SELECT @OrderId, P._ProductName, CI._ProductAmount, GETDATE(),CI._Quantity
            FROM @CartItems AS CI
            INNER JOIN tbl_Product AS P ON CI._ProductId = P._Id

            -- Remove processed items from @CartItems
            DELETE FROM tbl_CartItems
            WHERE _UserId = @UserId;
        
        -- Insert payment information into tbl_PaymentMaster
        INSERT INTO tbl_PaymentMaster (_OrderId, _Amount, _EntryDate)
        SELECT _OrderId, _TotalAmount, GETDATE()
        FROM tbl_OrderMaster where _OrderId=@OrderId

        -- Commit the transaction if all steps succeed
        COMMIT TRANSACTION;

        SET @statuscode = 1;
        SET @message = 'Payment added successfully!';

    END TRY
    BEGIN CATCH
        -- Rollback the transaction if any error occurs
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SET @statuscode = 0;
        SET @message = 'An error occurred during the transaction.';

        -- Optionally, raise the error or log it for further investigation
        -- RAISE ERROR;
    END CATCH

    -- Return status and message
    SELECT @statuscode AS [StatusCode], @message AS [Message];
END
GO
/****** Object:  StoredProcedure [dbo].[proc_ManipulateUser]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  proc [dbo].[proc_ManipulateUser]
@id int=0
as
begin
  update tbl_User set _IsActive=IIF(_IsActive=1,0,1) where _Id=@id
  select _IsActive from tbl_User where _Id=@id
end
GO
/****** Object:  StoredProcedure [dbo].[proc_MyProfile]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proc_MyProfile]
@Emailid varchar(100)
as
begin
select _Name,_Address,_Email,_Phone,_Password from tbl_User where _IsActive=1 and _Email=@Emailid
end
GO
/****** Object:  StoredProcedure [dbo].[Proc_OrderItemReport]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc  [dbo].[Proc_OrderItemReport]
@OrderId int 
as
begin
select _OrderItemId,_OrderId,_ProductName,_ProductPrice,_EntryDate,_Quantity from tbl_OrderItemMaster where _OrderId=@OrderId
end
GO
/****** Object:  StoredProcedure [dbo].[proc_OrderReport]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[proc_OrderReport]
    @Id INT = NULL,
    @ToDate DATE = NULL,
    @From_Date DATE = NULL
AS
BEGIN
    DECLARE @CurrentDate DATE = GETDATE(); 
    
    IF @Id IS NOT NULL AND @ToDate IS NULL AND @From_Date IS NULL
    BEGIN
        SELECT tu._Id, tu._Name, ot._OrderId, ot._TotalAmount, ot._EntryDate 
        FROM tbl_User AS tu
        INNER JOIN tbl_OrderMaster AS ot ON ot._UserId = tu._Id 
        WHERE ot._UserId = @Id;
    END

    IF @Id IS NOT NULL AND @ToDate IS NOT NULL AND @From_Date IS NOT NULL
    BEGIN
        SELECT tu._Id, tu._Name, ot._OrderId, ot._TotalAmount, ot._EntryDate 
        FROM tbl_User AS tu
        INNER JOIN tbl_OrderMaster AS ot ON ot._UserId = tu._Id 
        WHERE ot._UserId = @Id
          AND ot._EntryDate >= @From_Date
          AND ot._EntryDate <= DATEADD(DAY, 1, @ToDate); 
    END

    IF @Id IS NULL AND @ToDate IS NOT NULL AND @From_Date IS NOT NULL
    BEGIN
        SELECT tu._Id, tu._Name, ot._OrderId, ot._TotalAmount, ot._EntryDate 
        FROM tbl_User AS tu
        INNER JOIN tbl_OrderMaster AS ot ON ot._UserId = tu._Id 
        WHERE ot._EntryDate >= @From_Date
          AND ot._EntryDate <= DATEADD(DAY, 1, @ToDate); 
    END

    IF @Id IS NULL AND @ToDate IS NULL AND @From_Date IS NULL
    BEGIN
       
        SELECT tu._Id, tu._Name, ot._OrderId, ot._TotalAmount, ot._EntryDate 
        FROM tbl_User AS tu
        INNER JOIN tbl_OrderMaster AS ot ON ot._UserId = tu._Id;
    END
END

GO
/****** Object:  StoredProcedure [dbo].[proc_PaymentReport]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[proc_PaymentReport]
as
begin
select _PaymentId,_OrderId,_Amount,_EntryDate from tbl_PaymentMaster
end
GO
/****** Object:  StoredProcedure [dbo].[proc_selectCategory]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[proc_selectCategory]
as
begin
select _Id,_CategoryName,_IsActive,_EntryDate from Master_Category(NOLOCK)
end
GO
/****** Object:  StoredProcedure [dbo].[proc_SelectCategoryById]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proc_SelectCategoryById]
@_id int 
as
begin
select _Id,_CategoryName,_IsActive  from Master_Category (NOLOCK)  where _Id=@_id 
end
GO
/****** Object:  StoredProcedure [dbo].[proc_SelectListByID]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proc_SelectListByID]
@product int 
as
begin
select _Id, _ProductName,_ProductPrice,_ProductDesc,_IsActive,_ProductImage,_CategoryId from tbl_Product where _Id=@product
end 

GO
/****** Object:  StoredProcedure [dbo].[proc_UpdateCategory]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proc_UpdateCategory]
@id int ,
@catagoaryName varchar(100),
@IsActive bit
as
begin
update  Master_Category set _CategoryName=@catagoaryName,_IsActive=@IsActive where _Id=@id
        SELECT 'Update Successfully' AS Message;
end 
GO
/****** Object:  StoredProcedure [dbo].[Proc_UpdateProfile]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[Proc_UpdateProfile]
    @Name VARCHAR(50),
    @Phone BIGINT,
    @Address VARCHAR(100),
    @Email VARCHAR(100)
AS
BEGIN
    DECLARE @statuscode INT, @message VARCHAR(100) = '';

    BEGIN TRY
        -- Update the user profile
        UPDATE tbl_User
        SET 
            _Name = @Name,
            _Phone = @Phone,
            _Address = @Address
        WHERE _Email = @Email;

        -- Check if the update was successful
        IF @@ROWCOUNT > 0
        BEGIN
            SET @statuscode = 1;
            SET @message = 'Profile updated successfully';
        END
        ELSE
        BEGIN
            SET @statuscode = 0;
            SET @message = 'Profile update failed: Email not found';
        END
    END TRY
    BEGIN CATCH
        -- Handle any errors that occurred during the update
        SET @statuscode = -1;
        SET @message = 'An error occurred: ' + ERROR_MESSAGE();
    END CATCH

    -- Return the status code and message
    SELECT @statuscode AS StatusCode, @message AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[proc_UploadCategory]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_UploadCategory]
    @myTable AS CategoryType READONLY
AS
BEGIN
    
       
        INSERT INTO Master_Category(_CategoryName, _IsActive,_EntryDate)
        SELECT _CategoryName, _IsActive, GETDATE()
        FROM @myTable;
        
       
END
GO
/****** Object:  StoredProcedure [dbo].[proc_UploadProduct]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_UploadProduct]
    @myTableProduct AS ProductType READONLY
AS
BEGIN
    SET NOCOUNT ON;

    -- Insert products that do not already exist in tbl_Product
    INSERT INTO tbl_Product (_CategoryId, _ProductName, _ProductPrice, _IsActive, _EntryDate)
    SELECT p._CategoryId, p._ProductName, p._ProductPrice, p._IsActive, GETDATE()
    FROM @myTableProduct p
    WHERE NOT EXISTS (
        SELECT 1
        FROM tbl_Product tp
        WHERE tp._ProductName = p._ProductName
    );

END

GO
/****** Object:  StoredProcedure [dbo].[proc_UserLogin]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_UserLogin]
    @UserId VARCHAR(100) = NULL,
    @Password VARCHAR(100) = NULL
AS
BEGIN
    DECLARE @StatusCode INT,
            @Message VARCHAR(100) = '',
            @IsAdmin BIT,
            @Name VARCHAR(100);

    -- Check if the user exists and get their admin status
    SELECT @IsAdmin = _IsAdmin, 
           @Name = _Name
    FROM tbl_User
    WHERE _Email = @UserId AND _Password = @Password;

    IF @@ROWCOUNT > 0 -- User exists
    BEGIN
        IF @IsAdmin = 1
        BEGIN
            SET @StatusCode = 1;	
            SET @Message = 'Admin login successful';
        END
        ELSE
        BEGIN
            SET @StatusCode = 0;	
            SET @Message = 'User login successful';
        END
    END
    ELSE
    BEGIN
        SET @StatusCode = -1;	
        SET @Message = 'Invalid email or password';        
        SET @Name = NULL;
    END

    SELECT @StatusCode AS StatusCode, @Message AS Message, @Name AS Name;
END
GO
/****** Object:  Table [dbo].[Master_Category]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Master_Category](
	[_Id] [int] IDENTITY(1,1) NOT NULL,
	[_CategoryName] [varchar](50) NULL,
	[_IsActive] [bit] NOT NULL DEFAULT ((1)),
	[_EntryDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Master_Vendor]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Master_Vendor](
	[_Id] [int] IDENTITY(1,1) NOT NULL,
	[_VendorName] [varchar](50) NULL,
	[_VendorAddress] [varchar](max) NULL,
	[_VendorEmail] [varchar](100) NULL,
	[_IsActive] [bit] NULL,
	[_EntryDate] [datetime] NULL,
	[_ModifyDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_CartItems]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_CartItems](
	[_Id] [int] IDENTITY(1,1) NOT NULL,
	[_ProductId] [int] NULL,
	[_Quantity] [int] NULL,
	[_ProductAmount] [decimal](18, 2) NULL,
	[_UserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_OrderItemMaster]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_OrderItemMaster](
	[_OrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[_OrderId] [int] NULL,
	[_ProductName] [varchar](100) NULL,
	[_ProductPrice] [decimal](18, 2) NULL,
	[_EntryDate] [datetime] NULL,
	[_Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[_OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_OrderMaster]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_OrderMaster](
	[_OrderId] [int] IDENTITY(1,1) NOT NULL,
	[_UserId] [int] NULL,
	[_TotalAmount] [decimal](18, 2) NULL,
	[_EntryDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[_OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_PaymentMaster]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PaymentMaster](
	[_PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[_OrderId] [int] NULL,
	[_Amount] [decimal](18, 2) NULL,
	[_EntryDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[_PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Product]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Product](
	[_Id] [int] IDENTITY(1,1) NOT NULL,
	[_ProductName] [varchar](50) NULL,
	[_ProductPrice] [decimal](18, 2) NULL,
	[_ProductDesc] [nvarchar](max) NULL,
	[_CategoryId] [int] NULL,
	[_IsActive] [bit] NULL DEFAULT ((1)),
	[_EntryDate] [datetime] NULL,
	[_ProductImage] [varchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_User]    Script Date: 6/30/2024 9:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_User](
	[_Id] [int] IDENTITY(1,1) NOT NULL,
	[_Name] [varchar](50) NULL,
	[_Email] [varchar](50) NULL,
	[_Phone] [bigint] NULL,
	[_IsActive] [bit] NULL DEFAULT ((1)),
	[_Address] [varchar](100) NULL,
	[_Password] [varchar](20) NULL,
	[_EntryDate] [datetime] NULL,
	[_IsAdmin] [bit] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Master_Category] ON 

INSERT [dbo].[Master_Category] ([_Id], [_CategoryName], [_IsActive], [_EntryDate]) VALUES (1056, N'Electronic', 1, CAST(N'2024-06-25 05:18:07.190' AS DateTime))
INSERT [dbo].[Master_Category] ([_Id], [_CategoryName], [_IsActive], [_EntryDate]) VALUES (1059, N'Furniture', 1, CAST(N'2024-06-25 05:18:16.510' AS DateTime))
INSERT [dbo].[Master_Category] ([_Id], [_CategoryName], [_IsActive], [_EntryDate]) VALUES (2090, N'Fruit', 1, CAST(N'2024-06-24 19:36:22.037' AS DateTime))
SET IDENTITY_INSERT [dbo].[Master_Category] OFF
SET IDENTITY_INSERT [dbo].[Master_Vendor] ON 

INSERT [dbo].[Master_Vendor] ([_Id], [_VendorName], [_VendorAddress], [_VendorEmail], [_IsActive], [_EntryDate], [_ModifyDate]) VALUES (3, N'Ashutosh maurya ', N'adx', N'mauryaashu523@gmail.com', 0, CAST(N'2024-06-28 23:11:15.023' AS DateTime), CAST(N'2024-06-30 06:21:24.633' AS DateTime))
INSERT [dbo].[Master_Vendor] ([_Id], [_VendorName], [_VendorAddress], [_VendorEmail], [_IsActive], [_EntryDate], [_ModifyDate]) VALUES (4, N'Ankita Maurya', N'nhcjxb n', N'mauryaashu523', 0, CAST(N'2024-06-28 23:13:19.817' AS DateTime), CAST(N'2024-06-29 21:04:15.553' AS DateTime))
SET IDENTITY_INSERT [dbo].[Master_Vendor] OFF
SET IDENTITY_INSERT [dbo].[tbl_OrderItemMaster] ON 

INSERT [dbo].[tbl_OrderItemMaster] ([_OrderItemId], [_OrderId], [_ProductName], [_ProductPrice], [_EntryDate], [_Quantity]) VALUES (1, 1, N'Fan', CAST(1800.00 AS Decimal(18, 2)), CAST(N'2024-06-26 06:19:22.600' AS DateTime), 5)
INSERT [dbo].[tbl_OrderItemMaster] ([_OrderItemId], [_OrderId], [_ProductName], [_ProductPrice], [_EntryDate], [_Quantity]) VALUES (2, 1, N'Induction', CAST(1300.00 AS Decimal(18, 2)), CAST(N'2024-06-26 06:19:22.600' AS DateTime), 10)
INSERT [dbo].[tbl_OrderItemMaster] ([_OrderItemId], [_OrderId], [_ProductName], [_ProductPrice], [_EntryDate], [_Quantity]) VALUES (3, 2, N'Banana', CAST(70.00 AS Decimal(18, 2)), CAST(N'2024-06-26 06:19:47.680' AS DateTime), 20)
SET IDENTITY_INSERT [dbo].[tbl_OrderItemMaster] OFF
SET IDENTITY_INSERT [dbo].[tbl_OrderMaster] ON 

INSERT [dbo].[tbl_OrderMaster] ([_OrderId], [_UserId], [_TotalAmount], [_EntryDate]) VALUES (1, 3, CAST(22000.00 AS Decimal(18, 2)), CAST(N'2024-06-26 06:19:22.600' AS DateTime))
INSERT [dbo].[tbl_OrderMaster] ([_OrderId], [_UserId], [_TotalAmount], [_EntryDate]) VALUES (2, 3, CAST(2200.00 AS Decimal(18, 2)), CAST(N'2024-06-26 06:19:47.680' AS DateTime))
INSERT [dbo].[tbl_OrderMaster] ([_OrderId], [_UserId], [_TotalAmount], [_EntryDate]) VALUES (3, 3, CAST(218904.00 AS Decimal(18, 2)), CAST(N'2024-06-28 04:03:21.893' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_OrderMaster] OFF
SET IDENTITY_INSERT [dbo].[tbl_PaymentMaster] ON 

INSERT [dbo].[tbl_PaymentMaster] ([_PaymentId], [_OrderId], [_Amount], [_EntryDate]) VALUES (1, 1, CAST(22000.00 AS Decimal(18, 2)), CAST(N'2024-06-26 06:19:22.603' AS DateTime))
INSERT [dbo].[tbl_PaymentMaster] ([_PaymentId], [_OrderId], [_Amount], [_EntryDate]) VALUES (2, 2, CAST(2200.00 AS Decimal(18, 2)), CAST(N'2024-06-26 06:19:47.680' AS DateTime))
INSERT [dbo].[tbl_PaymentMaster] ([_PaymentId], [_OrderId], [_Amount], [_EntryDate]) VALUES (3, 3, CAST(218904.00 AS Decimal(18, 2)), CAST(N'2024-06-28 04:03:21.893' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_PaymentMaster] OFF
SET IDENTITY_INSERT [dbo].[tbl_Product] ON 

INSERT [dbo].[tbl_Product] ([_Id], [_ProductName], [_ProductPrice], [_ProductDesc], [_CategoryId], [_IsActive], [_EntryDate], [_ProductImage]) VALUES (35, N'Press Usha', CAST(179.00 AS Decimal(18, 2)), N'<p>dsn</p>
', NULL, 1, CAST(N'2024-06-12 19:55:55.567' AS DateTime), N'51PFm8I6mnL._AC_SR146,118_QL66_.jpg')
INSERT [dbo].[tbl_Product] ([_Id], [_ProductName], [_ProductPrice], [_ProductDesc], [_CategoryId], [_IsActive], [_EntryDate], [_ProductImage]) VALUES (1050, N'Grapes', CAST(80.00 AS Decimal(18, 2)), N'<p>&nbsp;</p>

<p>Grapes are&nbsp;<strong>a type of fruit that grow in clusters of 15 to 300, and can be crimson, black, dark blue, yellow, green, orange, and pink</strong>. &quot;White&quot; grapes are actually green in color, and are evolutionarily derived from the purple grape.</p>
', 2090, 1, CAST(N'2024-06-24 19:48:09.537' AS DateTime), N'download (4).jpeg')
SET IDENTITY_INSERT [dbo].[tbl_Product] OFF
SET IDENTITY_INSERT [dbo].[tbl_User] ON 

INSERT [dbo].[tbl_User] ([_Id], [_Name], [_Email], [_Phone], [_IsActive], [_Address], [_Password], [_EntryDate], [_IsAdmin]) VALUES (3, N'Ankita Maurya', N'mauryaashu523@gmail.com', 9151155145, 1, N'Reabareli', N'aaaaaa', CAST(N'2024-06-12 23:59:57.090' AS DateTime), 0)
INSERT [dbo].[tbl_User] ([_Id], [_Name], [_Email], [_Phone], [_IsActive], [_Address], [_Password], [_EntryDate], [_IsAdmin]) VALUES (4, N'Avnish Gupta', N'sagarjaiswal@gmail.com', 9877857453, 1, N'Reabareli', N'bbbbbb', CAST(N'2024-06-13 00:04:44.857' AS DateTime), 0)
INSERT [dbo].[tbl_User] ([_Id], [_Name], [_Email], [_Phone], [_IsActive], [_Address], [_Password], [_EntryDate], [_IsAdmin]) VALUES (5, N'Ankita maurya ', N'sagarjaisw@gmail.com', 9877857453, 1, N'Reabareli', N'cccccc', CAST(N'2024-06-13 00:05:59.427' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[tbl_User] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Master_V__5D30182B395D9BC8]    Script Date: 6/30/2024 9:44:12 PM ******/
ALTER TABLE [dbo].[Master_Vendor] ADD UNIQUE NONCLUSTERED 
(
	[_VendorEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Master_Category]  WITH CHECK ADD  CONSTRAINT [FK_Master_Category_Master_Category] FOREIGN KEY([_Id])
REFERENCES [dbo].[Master_Category] ([_Id])
GO
ALTER TABLE [dbo].[Master_Category] CHECK CONSTRAINT [FK_Master_Category_Master_Category]
GO
ALTER TABLE [dbo].[Master_Category]  WITH CHECK ADD  CONSTRAINT [FK_Master_Category_Master_Category1] FOREIGN KEY([_Id])
REFERENCES [dbo].[Master_Category] ([_Id])
GO
ALTER TABLE [dbo].[Master_Category] CHECK CONSTRAINT [FK_Master_Category_Master_Category1]
GO
ALTER TABLE [dbo].[tbl_CartItems]  WITH CHECK ADD  CONSTRAINT [FK__tbl_CartI___Prod__173876EA] FOREIGN KEY([_ProductId])
REFERENCES [dbo].[tbl_Product] ([_Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_CartItems] CHECK CONSTRAINT [FK__tbl_CartI___Prod__173876EA]
GO
ALTER TABLE [dbo].[tbl_CartItems]  WITH CHECK ADD  CONSTRAINT [FK_UserId] FOREIGN KEY([_UserId])
REFERENCES [dbo].[tbl_User] ([_Id])
GO
ALTER TABLE [dbo].[tbl_CartItems] CHECK CONSTRAINT [FK_UserId]
GO
ALTER TABLE [dbo].[tbl_OrderItemMaster]  WITH CHECK ADD FOREIGN KEY([_OrderId])
REFERENCES [dbo].[tbl_OrderMaster] ([_OrderId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_OrderMaster]  WITH CHECK ADD FOREIGN KEY([_UserId])
REFERENCES [dbo].[tbl_User] ([_Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_PaymentMaster]  WITH CHECK ADD FOREIGN KEY([_OrderId])
REFERENCES [dbo].[tbl_OrderMaster] ([_OrderId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_Product]  WITH CHECK ADD  CONSTRAINT [FK__tbl_Produ___Cate__1367E606] FOREIGN KEY([_CategoryId])
REFERENCES [dbo].[Master_Category] ([_Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_Product] CHECK CONSTRAINT [FK__tbl_Produ___Cate__1367E606]
GO
ALTER TABLE [dbo].[tbl_Product]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Product_tbl_Product] FOREIGN KEY([_Id])
REFERENCES [dbo].[tbl_Product] ([_Id])
GO
ALTER TABLE [dbo].[tbl_Product] CHECK CONSTRAINT [FK_tbl_Product_tbl_Product]
GO
