@{
    ViewData["Title"] = "forgetPassword";
}

<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    body {
        background-size: cover;
    }

    .a {
        box-shadow: 0px 0px 20px white;
        transition: 2s all;
    }

        .a:hover {
            transform: scale(1.1);
            transition: 2s all;
            box-shadow: 0px 0px 20px black;
        }
</style>

<body>
    <div class="container-fluid">
        <form method="post" id="form1">
            <div class="row mt-5 mb-5">
                <div class="col-sm-5 mx-auto a">
                    <div class="row">
                        <div class="col-sm-12 text-warning fw-bold fs-3 text-center">
                            Forgot Password
                        </div>
                    </div>

                    <div class="row mt-2 mx-1">
                        <div class="col-sm-12">
                            <span class="text-white">Enter your Email ID</span>
                            <input type="email" class="form-control" name="userid" id="Emailid" placeholder="Enter your email id" />
                        </div>
                        <div class="col-sm-12" id="p1">
                            <span class="text-white">Enter your New Password</span>
                            <input type="password" class="form-control" id="newpass" placeholder="Please Enter Password in abcd@123 Formate" />
                            
                        </div>
                        <div class="col-sm-12" id="p2">
                            <span class="text-white">Confirm Password</span>
                            <input type="password" class="form-control" id="confirmpass" placeholder="Enter your confirm password" />
                        </div>
                    </div>
                    <div class="row mt-3 mx-1 mb-3">
                        <div class="col-sm-12">
                            <input type="button" class="form-control btn btn-warning" id="btn" value="Verify Email" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <script>
        $(document).ready(function () {
            $("#newpass").hide();
            $("#confirmpass").hide();

            function validatePassword(password) {
                var passwordRegex = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@@$%^&*-]).{6,}$/;
                return passwordRegex.test(password);
            }

            $('#btn').click(function () {
                var email = $("#Emailid").val();
                var Newpassword = $("#newpass").val();
                var ConfirmPassword = $("#confirmpass").val();
                
                if (email != "" && Newpassword == "" && ConfirmPassword == "") {
                    $.ajax({
                        url: '/User/VeryfiEmail',
                        type: 'GET',
                        data: { "email": email },
                        success: function (res) {
                            var status = res.status;
                            var message = res.message;
                          

                            if (status == 1) {
                                $("#newpass").show();
                                $("#confirmpass").show();
                                $("#btn").val("Change Password");
                                $("#Emailid").prop("disabled", true);
                            }
                            if (status == -1) {
                                alert(message);
                            }
                        },
                        error: function () {
                            alert('Error verifying email.');
                        }
                    });

                } else if (email != "" && Newpassword != "" && ConfirmPassword != "") {
                    debugger;
                    if (Newpassword.length < 6) {
                        alert('Please enter a password with at least 6 characters.');
                        return;
                    }
                    if (ConfirmPassword == "")
                    {
                        alert("please enter confirm password ")
                    }
                    if (Newpassword == ConfirmPassword) {
                        $.ajax({
                            url: '/User/changePasswords',
                            type: 'POST',
                            data: { "Email": email, "Password": Newpassword, "Cpassword": ConfirmPassword },
                            success: function (res) {
                                alert(res);
                                window.location.href = "/User/Login";
                                $("#Emailid").val('');
                                $("#newpass").val('');
                                $("#confirmpass").val('');
                                $("#btn").val("Verify Email");
                            },
                            error: function () {
                                alert('Error changing password.');
                            }
                        });
                    } else {
                        alert("Password and confirm Password is not match")
                        $("#confirmpass").css("border", "2px solid red");
                        
                    }
                }
            });

            // Keypress event for password fields
            $("#newpass").keypress(function (event) {
                var charCode = event.which || event.keyCode;
                var charStr = String.fromCharCode(charCode);

                // Allow specific characters
                if (!((charCode >= 48 && charCode <= 57) || 
                      (charCode >= 65 && charCode <= 90) || 
                      (charCode >= 97 && charCode <= 122) || 
                      /[#!@@$%^&*-]/.test(charStr) || 
                      charCode === 8)) {
                    event.preventDefault();
                }

                var password = $(this).val() + charStr;

                // Prevent further input if the length is 10 or more characters
                if (password.length > 6) {
                    event.preventDefault();
                }

                // Validate the current password value with the regex
                if (!validatePassword(password)) {
                    // Optionally, you can add some feedback to the user here
                    // For example, display a message or highlight the input field
                    console.log("Password does not meet the criteria");
                }
            });
        });
    </script>
</body>
