@{
    ViewData["Title"] = "Login";
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<div class="row mt-5">
    <div class="col-md-5 p-4 border mx-auto shadow card-collapse">
        <div class="text-center fw-bold fs-3 text-secondary">
            <h1 class="text-center fw-bold">
                <b style="border-bottom:3px solid red;" class="text-primary"> LOGIN HERE</b>
            </h1>
        </div>
        <form id="loginForm" method="post" enctype="multipart/form-data">
            <div class="add-course-form mt-3">
                <div class="row"></div>
                <div class="row">
                    <div class="col-sm-12">
                       
                            <div class="form-group">
                                <label class="add-course-label">User Id</label>
                                <input type="text" name="User" id="username" class="form-control" placeholder="Enter username" required>
                               
                        
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="add-course-label">Password</label>
                            <input name="password" type="password" id="password" class="form-control" placeholder="Enter password" required />
                      
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Login" class="form-control border btn btn-info text-light fw-bold" />
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <a href="/User/forgetpassword">Forget password</a>
                </div>
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
                <div class="form-group">
                    <a href="/User/User">Sign In</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<script>
    $(document).ready(function () {
        debugger;
        $('#loginForm').on('submit', function (e) {
            e.preventDefault();
            var username = $('#username').val().trim();
            var password = $('#password').val().trim();

            // Clear previous validation messages
            $('.invalid-feedback').hide();

            var isValid = true;

            if (username === '') {
                $('#username').addClass('is-invalid');
                $('#username').next('.invalid-feedback').show();
                isValid = false;
            } else {
                $('#username').removeClass('is-invalid');
            }

            if (password === '') {
                $('#password').addClass('is-invalid');
                $('#password').next('.invalid-feedback').show();
                isValid = false;
            } else {
                $('#password').removeClass('is-invalid');
            }

            if (!isValid) {
                return;
            }

            $.ajax({
                type: 'POST',
                url: '/User/Login',
                data: {
                    username: username,
                    password: password
                },
                success: function (res) {
                    var statusCode = res.status;
                    var message = res.message;
                    localStorage.setItem('status', statusCode)
                    if (statusCode == 1) {
                        alert("Admin Login Successful");
                        window.location.href = "/Admin/Category";
                        $('#password').val('');
                        $('#username').val('');
                    }
                    if (statusCode == 0) {
                        alert("User Login Successful");
                        window.location.href = "/User/UserDashbord";
                        $('#password').val('');
                        $('#username').val('');
                    }
                },
                error: function (error) {
                    alert('Email Id and Password is Not match');
                }
            });
        });

        $('#username').on('input', function () {
            if ($(this).val().trim() !== '') {
                $(this).removeClass('is-invalid');
                $(this).next('.invalid-feedback').hide();
            }
        });

        $('#password').on('input', function () {
            if ($(this).val().trim() !== '') {
                $(this).removeClass('is-invalid');
                $(this).next('.invalid-feedback').hide();
            }
        });
    });
    // Keypress event for password fields
    $("#password").keypress(function (event) {
        var charCode = event.which || event.keyCode;
        var charStr = String.fromCharCode(charCode);

        // Allow specific characters
        if (!((charCode >= 48 && charCode <= 57) ||
            (charCode >= 65 && charCode <= 90) ||
            (charCode >= 97 && charCode <= 122) ||
            /[#!@@$%^&*-]/.test(charStr) ||
            charCode === 8)) {
            event.preventDefault();
        }

        var password = $(this).val() + charStr;

        // Prevent further input if the length is 10 or more characters
        if (password.length > 6) {
            event.preventDefault();
        }

        // Validate the current password value with the regex
        if (!validatePassword(password)) {
            // Optionally, you can add some feedback to the user here
            // For example, display a message or highlight the input field
            console.log("Password does not meet the criteria");
        }
    });

    // document.getElementById("password").addEventListener("input", email);
</script>
